body{
    margin: 0;
}
.container{
    width: 85%;
    margin: 0 auto;
}
.chat-bot{
    position: fixed;
    bottom: 50px;
    right: 40px;
    height: 70px;
    width: 70px;
    display: grid;
    align-items: center;
    background-color: black;
    cursor: pointer;
    border-radius: 50%;
}
.chat-bot h3{
    margin: 0 auto;
    color: #fff;
    text-align: center;
}

.half-width{
    width: 50%;
}
.full-width{
    width: 100%;
}
.width-40{
    width: 40%;
}
.container-flex{
    display: flex;
}
.image-size{
    height: 200px;
    width: 250px;
}
.margin-bottom{
    margin-bottom: 65px;
}
.margin-left{
    margin-left: 50px;
}
.border{
    border-top: 6px solid #66BFBF;
    border-left: 6px solid #6E85B7;
    border-radius: 15px;
    padding: 10px 20px;
}
.box-shadow{
    box-shadow: 5px 5px 20px gray;
}
.top .nav{
    display: flex;
}
.top .nav .menu ul{
    float: right;
}
.top .nav .menu ul li{
    display: inline-block;
    padding: 10px 15px;
}
.top .nav .logo p{
    line-height: 20px;
    font-size: 25px;
    margin-left: 70px;
}
.first-banner-img img{
    width: 100%;
    height: 250px;
    margin-left: 50px;
}
.first-banner-txt{
    padding: 20px 70px 20px 30px;
}
.first-banner-txt p{
    text-align: justify;
}
.card-blog{
    width: 80%;
    margin: 60px auto;
}
.about{
    width: 100%
    margin-top: 30px;
}
.about .about-img img{
    height: 300px;
    width: 450px;
}
.about .about-txt{
    padding: 5px 20px;
    text-align: justify;
    margin-top: 50px;
    margin-left: 30px;
}
.services .service-txt{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.services .service-txt h1{
    font-size: 45px;
    margin-bottom: 0;
}
.service-cards{
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    text-align: center;
}
.service-cards .card-1{
    box-shadow: 5px 5px 20px #ABC9FF;
    margin: 0 20px;
}
.service-cards .card-2{
    box-shadow: 5px 5px 20px #B7D3DF;
    margin: 0 20px;

}
.service-cards .card-3{
    box-shadow: 5px 5px 20px #D6EFED;
    margin: 0 20px;

}
.width-divided-3{
    width: 30%;
    height: 285px
}
.buy-btn{
    text-decoration: none;
    color: #fff;
    background-color: black;
    padding: 7px 8px;
}
.services #golden{
    color: gold;
}
.services #diamond{
    color: #3AB0FF;
}
.services #silver{
    color: #3F4E4F;
}

footer{
    width: 85%;
    background-color: #CDF0EA;
    margin: 60px auto;
    margin-bottom: 10px;
    text-align: center;
    padding: 20px 30px
}
body p{
    text-align: center;
}